@using LojaVirtual.Models;
@model IEnumerable<Produtos>

@{ ViewData["Title"] = "Index"; }

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista de Produtos</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp; Novo Produto</a>
    </div>

</div>
<form method="post">
    <div class="row">
        <div class="col-3">
            <input type="number" class="form-control" name="lowAmount" />
        </div>
        <div class="col-3">
            <input type="number" class="form-control" name="largeAmount" />
        </div>
        <div class="col-3">
            <input type="submit" value="Buscar" class="btn btn-success" />
        </div>
        <div class="col-3"></div>
    </div>
</form>
<br />
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProdutoCor)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Disponibilidade)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.CategoriaId)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.TagEspecialId)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>@item.Nome</td>
    <td>@item.Preco</td>
    <td>@item.ProdutoCor</td>
    <td>@item.Disponibilidade</td>
    <td>@item.Categorias.Categoria</td>
    <td>@item.TagEspecial.Name</td>
    <td>
        <partial name="_ProdutosButtonPartial" model="@item.Id" />
    </td>
</tr>
}
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                "oLanguage": {
                    "sUrl": "https://cdn.datatables.net/plug-ins/1.11.1/i18n/pt_br.json" // Internacionalização - PT-BR
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>

}
